.logo h1::first-letter {
	color: #609cec;
}
.banner {background-color: #609cec;}
.tp-banner-container {
	background: #609cec;
}
.contact form label {
	color: #609cec;
}
.contact form input.error {
	border-color: #609cec;
}
.contact form textarea.error {
	border-color: #609cec;
}
.inner-page .blog-grid-item .item-hover {
	background-color: #609cec;
}
.inner-page .blog-post .comments .comment-list li{
	border-left: 2px solid #609cec;
}
.footer { background: #609cec;}
blockquote{
	border-left: 5px solid #609cec;
}
.white {
	color: #ffffff !important;
}
.themecolor {
	color: #609cec !important;
}
.pagination li a:hover {
	background-color: #609cec;
	border-color: #609cec;
	color: #ffffff;
}
.pagination li.active a {
	background-color: #609cec;
	border-color: #609cec;
}
.pagination li.active a:hover {
	background-color: #609cec;
	border-color: #609cec;
}
.pagination li.active a:focus {
	background-color: #609cec;
	border-color: #609cec;
}
.pagination li.active span {
	background-color: #609cec;
	border-color: #609cec;
}
.pagination li.active span:hover {
	background-color: #609cec;
	border-color: #609cec;
}
.pagination li.active span:focus {
	background-color: #609cec;
	border-color: #609cec;
}

.nav-tabs li a:hover {
	background: #609cec;
	color: #ffffff;
	border-color: #609cec;
}
.nav-tabs li.active a {
	background-color: #609cec;
	border-color: #609cec;
	color: #ffffff;
}
.nav-tabs li.active a:hover {
	background-color: #609cec;
	border-color: #609cec;
	color: #ffffff;
}
.dropdown-menu {
	border-top: 3px solid #609cec !important;
}
.dropdown-menu:before {
	border-bottom-color: #609cec !important;
}
.inner-page .blog-grid .blog-grid-item:hover {
	border-color: #609cec;
}
.theme-stripe {
	background: #609cec;
	background-size: 252px 230px;
}
.image-overlay {
	background:rgba(96, 156, 236, 0.8);
}
.blog-items blockquote p{
	border-color: #609cec;
}
.features .icon {
	border: 3px solid #609cec;
}
.features .icon:hover {
	background: #609cec;
}
.features .icon .fa {
	color: #609cec;
}
.features .content .title {
	color: #609cec;
}
.team-1-section{
	-webkit-border: 1px solid #609cec;
	-moz-border: 1px solid #609cec;
	-o-border: 1px solid #609cec;
	border: 1px solid #609cec;
}
.team-1-section:hover {
	background-color: #609cec;
}
.team-1-block-right .member-img{
	background-color: #609cec;
}
.team-1-section .member-socials li a{
	color:#609cec;
}
.team-1-section .member-socials li a:hover{
	color:#609cec;
}
.team-2-block .member-socials li a{
	color:#609cec;
}
.team-2-block .member-socials li a:hover{
	color:#609cec;
}
.team-1-section:hover .member-socials li a i:hover{
	color:#609cec;
}
.team-2-block {
	border: 1px solid #609cec;
}
.team-2-block .member-img {
	-webkit-border: 5px solid #609cec;
	-moz-border: 5px solid #609cec;
	-o-border: 5px solid #609cec;
	border: 5px solid #609cec;
}
.team-2-block:hover {
	background-color: #609cec;
}
.team-2-block a:hover {
	color: #609cec;
}
.team-2-block:hover .member-socials li a i:hover{
color: #609cec;
}
.testimonial-full {background-color: #609cec;}
.services-1-wrapper .icon
{
	background:#609cec;
}
.services-2-wrapper .icon
{
	background:#609cec;
}
.about-us blockquote p{
	border-color: #609cec;
}
.skills-1 .skill-chart-wrapper{
	background:#609cec;
}
.skills-2 .progress-bar {
	background-color: #609cec;
}
.panel-default {
	border-color: #609cec;
}
.panel-default>.panel-heading {
	background-color: #609cec;
}
.tab-content>.tab-pane {
	border: 1px solid #609cec;
}
.btn-theme {
	background: #609cec;
}
.owl-theme .owl-controls .owl-buttons div{
	background: #609cec;
}
