@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

body{
	font-family: 'Open Sans', sans-serif;
	color: #444444;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 700;
	color: #000000;
}

p{
	margin:0;
	padding:0;
}

blockquote{
	padding: 15px 25px;
}
a {
	color: #000000;
}
a:hover {
	color: #000000;
}

a:hover,a:active,a:focus {
	outline: 0;
	text-decoration: none;
}

hr {
margin-top: 10px;
margin-bottom: 10px;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

form label { font-weight: normal; color: #9a9a9a; }
form select { padding-left: 7px !important }
form select, form textarea { color: #9a9a9a !important; }
form input[type="text"], form input[type="password"], form input[type="email"],
form select, form textarea{ box-shadow: none !important; }
.table-responsive { border-radius: 4px; }
table { background: #fff; }
input, button, select, textarea {
	color: #000;
}
.btn.btn-default {
	background: #f9f9f9;
	color: #555555;
	border: 1px solid #aaaaaa;
}
.btn.btn-default:hover {
	background: #eeeeee;
}
.btn-white {
	background: #fff;
}
.pagination li a {
	color: #000000;
}
.header .navbar-default .navbar-nav li a {
	color: #000000;
}
.header .navbar-default .navbar-nav li ahover {
	color: #555555;
}
.header .navbar-default .navbar-nav li ul.dropdown-md a.btn {
	color: #ffffff;
}
.header .navbar-default .navbar-nav .open a,
.header .navbar-default .navbar-nav .open a:hover,
.header .navbar-default .navbar-nav .open a:focus,
.header .navbar-default .navbar-nav .open a:active {
	color: #000000;
}
.padd-top-bottom-25{
	padding-top: 25px;
	padding-bottom: 25px;
}
.padd-top-bottom-10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.padd-top-bottom-5{
	padding-top: 5px;
	padding-bottom: 5px;
}
.padd-top-20{
	padding-top: 20px;
}
.padd-bottom-20{
	padding-bottom: 20px;
}
.padd-top-10{
	padding-top: 10px;
}
.padd-bottom-10{
	padding-bottom: 10px;
}
.padd-top-5{
	padding-top: 5px;
}
.padd-bottom-5{
	padding-bottom: 5px;
}
.sticky-wrapper {
	position: relative;
	margin: 0%;
	width: 98%;
}
.sticky-wrapper .header {
	margin-bottom: 0;
}
.sticky-wrapper .header.stuck {
	position: fixed;
	top: 0;
}
.social a i{
	display:inline-block;
	width:40px;
	height:40px;
	font-size:15px;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	color:#fff;
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	-o-transition: background 2s ease;
	-ms-transition: background 2s ease;
	transition: background 2s ease;
}
.social a, .social a:hover{
	border:0px;
	text-decoration:none;
}
.quote{
	display: inline-block;
	font-family: 'Georgia' 'Times New Roman', serif;
	text-shadow: none !important;
	position: relative;
}
.dropdown-menu:after,
.dropdown-menu:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dropdown-menu:after {
	border-color: rgba(75, 170, 211, 0);
	border-width: 6px;
	right: 35px;
	border-bottom-color: transparent;
}

.dropdown-menu:before {
	margin-left: -3px;
	border-color: rgba(75, 170, 211, 0);
	border-width: 9px;
	right: 35px;
}
.dropdown-menu>li>a {
	padding-left: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 12px;
}
.dropdown-menu>li>a:hover { background: #f1f1f1; }
.border-zero { border: 0 !important; padding: 0 !important; }
.header{
	background: #fff;
	border-bottom: 2px solid #eaeaea;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	z-index: 300;
	width: 100%;
}
.header .header-top{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f4f4f4;
}
.header .header-contact span{
	display: inline-block;
	margin-top: 5px;
	font-size: 12px;
	font-weight: 500;
	color: #898989;
}
.header .header-contact span i{
	display: inline-block;
	margin-right: 3px;
	font-size: 12px;
}
.header .header-search{
	max-width:200px;
	margin: 0 auto;
	float: right;
}
.header .header-search form input[type="text"]{
	color:#999 !important;
	border:1px solid #d8d8d8 !important;
	border-right:0px !important;
	background:#fff;
	box-shadow: none;
	border-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.header .header-search form input::-webkit-input-placeholder { 
	color:#9e9e9e;
}
.header .header-search form input::-moz-placeholder { 
	color:#9e9e9e;
}
.header .header-search form input::-ms-input-placeholder { 
	color:#9e9e9e;
}
.header .header-search .btn{
	background:#fff !important;
	border:1px solid #d8d8d8 !important;
	border-left:0px !important;
	color:#bbb !important;
	font-size:13px;
	line-height: 20px;
	padding: 5px 10px;
	border-radius: 2px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.header .header-search .btn:hover{
	background:#fcfcfc !important;
	border:1px solid #d8d8d8 !important;
	border-left:0px !important;
	color:#ccc !important;
}
.logo { margin-top: 0px; }
.logo img {
	display: inline-block; 
	max-width: 50px;
}
.logo h1 {
	position: relative;
	top: 13px;
	display: inline-block; 
	margin: 0;
	font-size: 32px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #565656;
}
.header .logo p{
	margin-left: 60px;
	margin-top: -6px;
	font-size: 13px;
	color: #bbb;
}

.header .navbar-default{
	background: transparent;
	border: 0px;
	border-radius: 0px;
	margin: 0px;
}
.header .navbar-default a,
.header .navbar-default a:hover,
.header .navbar-default a:active {
	color: #fff;
}
.header .navbar-default .navbar-nav{ margin-top: 20px; }
.header .navbar-default .navbar-nav>li>a{
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: 700;
	text-align: center
}
.header .navbar-default .navbar-nav>.open>a,
.header .navbar-default .navbar-nav>.open>a:hover,
.header .navbar-default .navbar-nav>.open>a:focus,
.header .navbar-default .navbar-nav>li>a:active{
	background: transparent;
}
.header .navbar-default .navbar-nav>li>a img{
	max-width: 60px;
	margin: 0px auto;
	margin-bottom: 12px;
	border: 2px solid #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	border-radius: 80px;
}
.header .dropdown .dropdown-menu{
	margin-top: -8px !important;
	margin-left: 0px;
	border-color: #f5f5f5;
	border-radius: 5px;
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
}
.header .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
.header .navbar-collapse{
	border-top: 0;
	box-shadow: none;
}
.header .navbar-default .navbar-toggle{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 15px;
	border-radius: 3px;
}
.header .navbar-default .navbar-toggle,
.header .navbar-default .navbar-toggle:hover,
.header .navbar-default .navbar-toggle:focus{
	background: transparent;
}
.header .navbar-default .navbar-nav > li ul.dropdown-md {
	width: 600px;
	padding: 15px;
	padding-bottom: 0px;
}
.header .navbar-default .navbar-nav > li ul.dropdown-md .menu-item {	margin-bottom: 15px; }
.header .navbar-default .navbar-nav > li ul.dropdown-md h3 {
	margin: 0;
	margin-bottom: 12px;
	font-size: 20px;
	color: #777;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
}
.header .navbar-default .navbar-nav > li ul.dropdown-md img {
	margin-bottom: 9px;
	border: 2px solid #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}
.header .navbar-default .navbar-nav > li ul.dropdown-md p{
	font-size: 13px;
	line-height: 21px;
	color: #9a9a9a;
}
.header .navbar-default .navbar-nav > li ul.dropdown-md a.btn{ margin-top: 8px; }
.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;
	background: #f9f9f9;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.tp-banner{
	width:100%;
	position:relative;
	overflow: hidden;
}
.tp-banner ul{
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.tp-banner .heading {
	font-size: 100px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #fff;
}
.tp-banner .heading:first-letter {
	color: #fff;
}
.tp-caption.finewide_verysmall_white_mw { letter-spacing: 1px; color: #9a9a9a; }
.tp-caption.finewide_medium_white { font-size: 50px; }
.tp-banner .tp-caption a.btn {
	font-size: 20px;
	font-weight: bold;
	color: #000;
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.2) inset;
}
.tp-banner .tp-caption img.slide-img {
	border: 2px solid #fff;
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.tp-banner .tp-caption span.price-tag{
	display: block;
	padding-top: 10px;
	width: 100px;
	height: 100px;
	line-height: 35px;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	font-family: 'Droid Serif', serif;
	border: 6px solid #cd4937;
	border-radius: 150px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.tp-caption.whitedivider3px { min-width: 430px; }
.tp-banner .tp-caption.paragraph{
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}
.banner img {margin: 0 auto; margin-bottom: 10px;}
.banner h2 {
	margin: 0;
	font-size: 24px;
	font-weight: 700;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	text-transform: uppercase;
}
.banner .breadcrumb {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	background: transparent;
}
.banner .breadcrumb li, .banner .breadcrumb li a,
.banner .breadcrumb>li+li:before  { color: #fff; }
.inner-page .carousel {
	margin-top: 0px;
	border-radius: 6px;
	overflow: hidden; 
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.inner-page .carousel .carousel-control {
	top: 50%;
	background: none;
}
.inner-page .blog-grid {
	margin-top: 40px;
	margin-bottom: 40px;
}
.inner-page .blog-grid .blog-grid-item { 
	position: relative;
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 5px;
	text-align: center;
	background: #fff;
	border: 4px solid #eee;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.inner-page .blog-grid .blog-grid-item img{ border: 1px solid #f5f5f5; }
.inner-page .blog-grid .blog-grid-item h4 {
	margin-top: 5px;
	margin-left: 10px; 
	font-size: 16px;
	line-height: 26px;
}
.inner-page .blog-grid .blog-grid-item p {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 13px;
	text-align: left;
	color: #9a9a9a; 
}
.inner-page .blog-grid-item .item-hover { 
	position: absolute;
	left: -150px;
	bottom: 30%;
	width: 120px;
	height: 35px;
	line-height: 35px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.inner-page .blog-grid-item a.link {
	position: absolute;
	left: -130px;
	bottom: 32%;
	font-size: 14px;
	color: #fff; 
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	  	-ms-transition: all 0.4s ease-in-out;
		 -o-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
}
.inner-page .blog-grid-item a.btn { margin-bottom: 10px; }
.inner-page .blog-grid-item:hover .item-hover { left: -20px; }
.inner-page .blog-grid-item:hover a.link { left: 10px; }
.inner-page .blog-grid .blog-grid-pagination {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}
.inner-page .contactus { margin-top: 50px; margin-bottom: 25px; }
.inner-page .contactus .contact-details { margin-bottom: 30px; }
.inner-page .contactus .contact-details h4 {
	margin-top: 0;
	margin-bottom: 5px;
	padding-bottom: 6px;
	font-size: 20px;
	color: #9a9a9a;
	border-bottom: 4px double #eee;
}
.inner-page .contactus .contact-details i {
	display: block;
	margin-top: 10px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	float: left;
	font-size: 18px;
	color: #fff;
	text-align: center;
	border-radius: 30px;
}

.inner-page .contactus .contact-details span{
	display: inline-block;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
}
.inner-page .contactus .contact-form {	
	padding: 15px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
}
.inner-page .contactus .contact-form h3{
	margin-top: 0; 
	padding-bottom: 6px;
	font-size: 20px;
	border-bottom: 4px double #eee;
}
.inner-page .blog { margin-top: 50px; margin-bottom: 25px; }
.inner-page .blog .pagination { margin: 0; }
.inner-page .blog .sidebar-widget{
	margin-bottom: 30px;
	padding: 15px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 4px;
}
.inner-page .blog .sidebar-widget h4 {
	margin-top: 0;
	margin-bottom: 13px;
	padding-bottom: 8px;
	border-bottom: 4px double #eee
}
.inner-page .blog .sidebar-widget ul li { margin-top: 5px; }
.inner-page .blog .sidebar-widget ul li i {
	position: relative;
	top: 1px;
	display: inline-block;
	margin-right: 3px;
	font-size: 16px;
}
.inner-page .blog .sidebar-widget ul li a { font-size: 13px;	line-height: 20px; }
.inner-page .blog .sidebar-widget p { font-size: 13px; color: #9a9a9a; }
.inner-page .blog .sidebar-widget .social { margin-top: 9px; }
.inner-page .blog .sidebar-widget .social a i {
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin: 0;
	margin-right: 2px;
	font-size: 18px;
	border-radius: 50px;
	color:#666666;
}
.inner-page .blog .sidebar-widget a.btn{
	margin-right: 5px;
	margin-bottom: 10px;
}
.inner-page .blog-post .comments .title h5{ margin-top: 0; font-size: 20px; }
.inner-page .blog-post .comments .comment-list{ list-style-type: none; padding-left: 0; }
.inner-page .blog-post .comments .comment-list li{
	margin-bottom: 15px;
	padding: 10px;
	background: #fff;
}
.inner-page .blog-post .comments .comment-list li.reply{ margin-left: 30px; }
.inner-page .blog-post .comments .comment-list .avatar{ max-width: 50px; margin-right: 10px; }
.inner-page .blog-post .comments .comment-list .comment-author a{ font-weight: bold; color: #676767; }
.inner-page .blog-post .comments .comment-list .cmeta{ font-size: 11px; color: #bbb; }
.inner-page .blog-post .comments .comment-list p{
	margin-left: 30px;
	font-size: 13px;
	line-height: 23px;
	color: #9a9a9a;
}
.footer { border-top: 1px solid #eaeaea; margin-top:20px;}
.footer .footer-widget { margin-bottom: 40px;}
.footer .footer-widget .logo{ margin-top: 0; margin-bottom: 20px; }
.footer .footer-widget .logo h1{ top: 10px; font-size: 30px; color:#fff}
.footer .footer-widget .logo h1::first-letter {color: #fff;}
.footer .footer-widget h4 {
	margin-top: 0;
	margin-bottom: 15px;
	padding-bottom: 8px;
	font-size: 16px;
	border-bottom: 1px solid #eaeaea;
}
.footer .footer-widget h4 {
	margin-bottom: 15px;
	color: #fff;
}
.footer .footer-widget h6 {
	margin-bottom: 15px;
	color: #fff;
}
.footer .footer-widget p {
	font-size: 13px;
	color: #000;
}
.footer .footer-widget i {
	display: block;
	margin-bottom: 5px;
	width: 25px;
	float: left;
	font-size: 18px;
	color: #fff;
	text-align: center;
	border-radius: 30px;
}
.footer .footer-widget img.recentwork {
	display: inline-block;
	margin: 0;
	margin-right: 5px;
	margin-top: 5px;
	max-width: 80px;
	border: 1px solid #fff;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.footer .footer-widget form{ margin-top: 15px; }
.footer .footer-widget .contact-details i {
	display: block;
	margin-bottom: 15px;
	width: 25px;
	float: left;
	font-size: 18px;
	color: #fff;
	text-align: center;
	border-radius: 30px;
}
.footer .footer-widget .contact-details span{
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;
	font-size: 13px;
	color: #000;
}
.footer .footer-widget .social { margin-top: 10px; }
.footer .footer-widget .social a i {
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin: 0;
	margin-right: 2px;
	font-size: 18px;
	border-radius: 50px;
}
.footer .footer-copyright { padding-top: 20px; border-top: 1px solid #ddd; }
.foot-error .footer-copyright { padding-top: 0; border-top: 0; }
.footer .footer-copyright a{ color: #fff;}
.footer .footer-copyright p {
	font-size: 13px;
	color: #000;
	text-align: center;
}
.totop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 104400;
}

.totop a i{
	display: block;
	width: 32px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	font-size: 22px;
	border-radius: 1px;
}
.totop a, .totop a:visited{
	color: #fff;
}
.totop a:hover {
	color: #eee;
	text-decoration: none;
}

iframe, fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.responsive-video {
	width: 100%;
	position: relative;
	padding: 0;
	padding-top: 50.25%;
}
.responsive-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#filters{
	margin-bottom: 30px;
	text-align: center;
}

#filters li{ display:inline; }
#filters li a.btn {
	margin: 3px 1px;
}

.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:      -o-transform, opacity;
	transition-property:         transform, opacity;
}
.gallery{
	margin-top: 40px;
	margin-bottom: 40px;
}
.gallery .gallery-element {
	width: 24.98%;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	float: left;
}

.gallery .gallery-element .element { position: relative; }
.gallery .gallery-element .element img {
	-webkit-transition: all 2s cubic-bezier(0.09,0.8,0.35,0.9);
	-moz-transition: all 2s cubic-bezier(0.09,0.8,0.35,0.9);
	transition: all 2s cubic-bezier(0.09,0.8,0.35,0.9);
}

.gallery .gallery-element:hover .element img {
	-webkit-transform: scale(1.6);
	-moz-transform: scale(1.6);
	-ms-transform: scale(1.6);
	-o-transform: scale(1.6);
	transform: scale(1.6);
}

.gallery-content .p-hover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6); 
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 1s cubic-bezier(0.01,0.85,0.34,0.97);
	-moz-transition: all 1s cubic-bezier(0.01,0.85,0.34,0.97);
	transition: all 1s cubic-bezier(0.01,0.85,0.34,0.97);
}

.gallery-content .gallery-element:hover .p-hover { 
	opacity: 1; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.gallery-content .p-hover a {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
}

.gallery-content .p-hover i {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 15;
	margin-top: -20px;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
}

.gallery-content .gallery-element h3 {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 15;
	margin: 0;
	font-weight:400;
	font-size: 15px;
	color: #fff;
	padding:9px 12px;
	background:rgba(0,0,0,0.4);
}

.gallery-content .gallery-element:hover h3 {
	background:transparent;
}

.recent-work { 
	margin: 40px 0; 
}

.theme-stripe { 
	padding: 40px 0; 
}
.theme-stripe-title{
	position:relative;
	font-size:24px;
	line-height:30px;
	font-weight:700;
	text-transform:uppercase;
	color: #fff;
}
.theme-stripe-head-text{
	position:relative;
	font-size:18px;
	line-height:30px;
	padding-bottom: 20px;
	color: #fff;
}
.theme-stripe-head-text-big{
	position:relative;
	font-size:26px;
	line-height:28px;
	padding-bottom: 10px;
	color: #fff;
}
.theme-stripe-content {
	color: #fff;
	font-weight: 300;
}
.theme-stripe-content .theme-stripe-button {
	margin-top: 10px;
	text-align:center;
}
.theme-stripe-content .theme-stripe-button .btn {
	font-size: 18px;
	font-weight:600;
	padding: 12px 30px;
	border: 1px solid rgba(0,0,0,0.15);
	color:#fff !important;
	background:rgba(0,0,0,0.1) !important;
}
.theme-stripe-content .theme-stripe-button .btn:hover{
	background:rgba(0,0,0,0.15) !important;
}
.theme-stripe-content .bullet-text-big {
	font-size: 16px;
	font-weight:500;
	padding: 12px 30px;
	border: 1px solid rgba(0,0,0,0.15);
	color:#fff !important;
	background:rgba(0,0,0,0.1) !important;
}
.owl-carousel .item img {
	width: 100%;
	height: auto;
}
.owl-item-gap .item {
	margin: 0 15px;
}
.blog-items{
	padding-bottom: 35px;
}
.blog-items blockquote p{
	line-height: 20px;
	font-size: 18px;
}
.blog-items img{
	width:100%;
}
.blog-post-list{
	margin: 10px 0px;
}
.blog-post-list li{
	color:#444;
	font-weight: bold;
}
.blog-post-list li a{
	color:#444;
	font-weight: bold;
}
.blog-post-more{
	margin-top: 10px;
}

.blog-grid-box{
	padding: 15px;
	background: #fff;
	box-shadow: 0px 1px 3px #999;
}
.blog-grid-desc{
	padding-top: 15px;
}
.blog-grid-desc h4{
	margin-bottom: 12px;
}
.blog-grid-desc h4 a{
	color:#555;
}
.blog-grid-meta{
	margin: 13px 0px;
}
.blog-grid-meta span{
	margin-right:2px;
}
.blog-grid-meta span a{
	font-size: 12px;
	font-weight: 400;
	color:#555;
}
.blog-grid-desc p{
	color:#555;
}
.more-button{
	margin-top: 15px;
}
.blog-grid-btm{
	padding: 5px 0px;
	border-top: 1px solid #eee;
}
.blog-grid-btm h3{
	margin-bottom: 0px;
}
.blog-grid-btm h3 span a{
	font-size: 14px;
	display: inline-block;
	color:#555;
}
.blog-grid-btm h3 span a i{
	margin-right: 5px;
}
.comment {
	padding: 10px;
	background: #fff;
	box-shadow: 0px 1px 2px #666666;
	-webkit-box-shadow: 0px 1px 2px #666666;
}
.comment i {
	float: left;
	margin-right: 20px;
	font-size: 24px;
	line-height: 50px;
	width: 50px;
	text-align: center;
	color: #555;
	background: #f7f7f7;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}
.comment h4{
	margin-bottom: 10px;
}
.comment span{
	font-size: 14px;
}
.comment p{
	overflow: hidden;
}

#map-canvas{
	width:100%;
	height:400px;
	margin-bottom: 40px;
}
#grid .mix{
	display: none;
	opacity: 0;
}
.portfolio{
	margin: 40px 0px;
}
.port-single-desc strong{
	font-weight: 700;
	color:#555;
}
.port-single-desc{
	margin-bottom: 10px !important;
	padding: 10px 20px !important;
}
.port-single-desc p{
	margin: 0px;
}
.port-single-desc a{
	display: block;
}
.portfolio-item{
	margin-bottom: 20px;
}
.image-sec{
	position: relative;
}
.image-overlay {
	position: absolute;
	text-align: center;
	background:rgba(96, 156, 236, 0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.image-overlay h3, .image-overlay h4{
	font-weight: 500;
	position: absolute;
	top: 45%;
	color:#fff;
	margin-top:-10px;
	width: 100%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.image-overlay p{
	position: absolute;
	top: 60%;
	color:#fff;
	margin-top:-10px;
	width: 100%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.image-overlay p i{
	color:#fff;
}
.image-sec:hover .image-overlay{
	opacity: 1;
}

.features {
	padding: 40px 0;
}
.features .icon {
	position: relative;
	width: 120px;
	height: 120px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	display: table;
	margin: 0 auto;
	-webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
	-moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
	transition: transform ease-out 0.2s, background 0.3s;
}
.features .icon:hover {
	color: #fff;
}
.features .icon:hover .fa {
	color: #fff;
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	-o-transform: scale(0.93);
}
.features .icon .fa {
	font-size: 40px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.features .content {
	padding: 20px 5px;
}
.features .content .title {
	font-size: 18px;
	margin-top: 0;
}
.features .content p {
	font-weight: 300;
}
.team-1{
	margin-top: 40px;
	margin-bottom: 40px;
}
.team-1-section{
	margin-bottom: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.team-1-section:hover {
	color:#fff
}
.team-1-section .member-socials {
	list-style:none;
	margin:0;
	padding:5px 0px;
}

.team-1-section .member-socials li {
	display:inline;
	text-align:center;
	margin:0 2px;
}

.team-1-section .member-socials li a{
	display:inline-block;
	padding:0;
	min-width:36px;
	height:36px;
	font-size:18px;
	line-height:36px;
	border-radius:5px;
	box-shadow:0 3px 0 0 transparent;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.team-1-section:hover .member-socials li a {
	color:#fff;
}
.team-1-section .member-socials li a:hover{
	background:#fff;
	box-shadow:0 3px 0 0 rgba(0,0,0,0.05);
}
.team-1-block-left,
.team-1-block-right {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 30px 15px 10px;
}
.team-1-block-left { text-align: right; }
.team-1-block-right { text-align: left; }
.team-1-block-left .member-img {
	float: right;
	margin: 0 0 20px 30px;
}
.team-1-block-right .member-img {
	float: left;
	margin: 0 30px 20px 0;
}
.team-1-block-left .member-img,
.team-1-block-right .member-img{
	width: 98px;
	height: 98px;
	padding: 4px;
	overflow: hidden;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.team-1-block-left .member-img:after,
.team-1-block-right .member-img:after {
	top: 0;
	left: 0;
	content: '';
	width: 98px;
	height: 98px;
	position: absolute;
}
.team-1-block-left .member-img img,
.team-1-block-right .member-img img {
	width: 90px;
	height: 90px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.team-1-block-left .member-name,
.team-1-block-right .member-name {
	color: #000;
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 5px 0;
	text-transform: uppercase;
}
.team-1-block-left .member-position,
.team-1-block-right .member-position {
	color: #000;
	font-size: 12px;
	margin: 0 0 5px 0;
}
.team-1-block-left:hover .member-img,
.team-1-block-right:hover .member-img {
	background-color: #ffffff;
}
.team-2{
	margin-top: 40px;
	margin-bottom: 40px;
}
.team-2-block .member-name {
	color: #000;
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 5px 0;
	text-transform: uppercase;
}
.team-2-block .member-position {
	color: #000;
	font-size: 12px;
	margin: 0 0 5px 0;
}

.team-2-block .member-socials {
	list-style:none;
	margin:0;
	padding:5px 0px;
}

.team-2-block .member-socials li {
	display:inline;
	text-align:center;
	margin:0 2px;
}
.team-2-block .member-socials li a{
	display:inline-block;
	padding:0;
	min-width:36px;
	height:36px;
	font-size:18px;
	line-height:36px;
	border-radius:5px;
	box-shadow:0 3px 0 0 transparent;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.team-2-block:hover .member-socials li a {
	color:#fff;
}
.team-2-block .member-socials li a:hover{
	background:#fff;
	box-shadow:0 3px 0 0 rgba(0,0,0,0.05);
}
.team-2-section {
	width: 100%;
	overflow: hidden;
}
.team-2-block {
	max-width: 290px;
	text-align: center;
	position: relative;
	margin: 0 auto 30px;
	padding: 35px 20px 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.team-2-block .member-img {
	width: 180px;
	height: 180px;
	overflow: hidden;
	position: relative;
	margin: 0 auto 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.team-2-block .member-img img { width: 100%; }
.team-2-block .member-img:after {
	top: 0;
	left: 0;
	content: '';
	width: 140px;
	height: 140px;
	position: absolute;
}
.team-2-block:hover h2 {
	color:#000
}
.team-2-block:hover h4 {
	color:#fff
}
.team-2-block a:hover {
	background-color: #ffffff;
}
.team-2-section:hover {
	color:#fff
}

.testimonial-full { width: 100%;position: relative; margin: 75px 0;}
.testimonial-full .testimonial-full-text { float: left; font-size: 18px; color: #fff; line-height: 30px; padding: 30px 40px; position: relative; text-align: center;}
.testimonial-full .testimonial-full-text:after { position: absolute; left: 0; top: 47px; content: "\201C"; font-size: 90px; color: black; color: rgba(0, 0, 0, 0.35);}
.testimonial-full .row { position: relative;}
.testimonial-full .row .col-md-2, .testimonial-full .row .col-sm-2, .testimonial-full .row .col-lg2 { position: static;}
.testimonial-full .testimonial-full-img { position: absolute; right: 15px; bottom: 0;}
.testimonial-full .testimonial-full-img img { width: auto; height: 190px;}


@media (max-width: 959px)
{
	.testimonial-full .testimonial-full-img
	{
		display: none;
	}
}
.services-1-wrapper
{
	margin-top:40px 0px;
}
.services-1-wrapper .services-1-details
{
	margin-top:40px;
	margin-bottom:40px;
}
.services-1-wrapper .icon
{
	position:relative;
	width:120px;
	height:120px;
	margin:0 auto;
	text-align:center;
	line-height:120px;
	font-size:40px;
	color:#fff;
	border-radius:50%;
	box-shadow:0 0 0 0 rgba(0,0,0,0.0);
	margin-bottom:40px;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.services-1-wrapper .services-1-details:hover .icon
{
	font-size:50px;
	box-shadow:0 0 0 10px rgba(0,0,0,0.15);
}
.services-1-wrapper .icon:after
{
	display:block;
	content:"";
	position:absolute;
	width:120px;
	height:120px;
	top:0;
	left:0;
	border-radius:50%;
	box-shadow:inset 0 0 0 0 rgba(0,0,0,0.08);
	background:transparent;
	-webkit-transition:box-shadow .3s ease-out;
	transition:box-shadow .3s ease-out;
}
.services-1-wrapper .services-1-details:hover .icon:after
{
	box-shadow:inset 0 0 0 10px rgba(0,0,0,0.08);
}
.services-1-wrapper h3
{
	font-size:18px;
	font-weight:400;
}
.services-1-wrapper p
{
	padding:0 10px;
}
.services-2-wrapper
{
	margin:40px 0px;
}
.services-2-wrapper img
{
	display: inline-block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
.services-2-wrapper .services-2-details
{
	margin-bottom: 10px;
}
.services-2-wrapper .services-2-details:before,
.services-2-wrapper .services-2-details:after
{
	content: " ";
	display: table;
}
.services-2-wrapper .services-2-details:after
{
	clear: both;
}
.services-2-wrapper .icon-wrapper
{
	float: left;
	width: 40%;
	text-align: center;
	color: #f0605b;
	padding-top: 20px;
	font-size: 50px;
}
.services-2-wrapper .text-wrapper
{
	float: left;
	width: 60%;
}
.services-2-wrapper h3
{
	font-size:18px;
	font-weight:400;
}
.services-2-wrapper .icon
{
	position:relative;
	width:110px;
	height:110px;
	margin:0 auto;
	text-align:center;
	line-height:110px;
	font-size:40px;
	color:#fff;
	border-radius:50%;
	box-shadow:0 0 0 0 rgba(0,0,0,0.0);
	margin-bottom:20px;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.services-2-wrapper .icon-wrapper:hover .icon
{
	font-size:50px;
	box-shadow:0 0 0 10px rgba(0,0,0,0.15);
}
.services-2-wrapper .icon-wrapper .icon:after
{
	display:block;
	content:"";
	position:absolute;
	width:110px;
	height:110px;
	top:0;
	left:0;
	border-radius:50%;
	box-shadow:inset 0 0 0 0 rgba(0,0,0,0.08);
	background:transparent;
	-webkit-transition:box-shadow .3s ease-out;
	transition:box-shadow .3s ease-out;
}
.services-2-wrapper .icon-wrapper:hover .icon:after
{
	box-shadow:inset 0 0 0 10px rgba(0,0,0,0.08);
}
.section-title{
	position:relative;
	font-size:24px;
	line-height:34px;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom: 0px;
}
.section-head-text{
	position:relative;
	font-size:16px;
	line-height:28px;
	padding-bottom: 20px;
}
.about-us{
	margin-top: 40px;
	margin-bottom: 40px;
}
.about-us blockquote p{
	line-height: 20px;
	font-size: 18px;
}
.skills-1{
	margin-top: 40px;
	margin-bottom: 40px;
}
.skills-1 .skill-chart-wrapper{
	display:block;
	width:180px;
	height:180px;
	padding-top:20px;
	margin:0 auto 20px;
	border-radius:50%; 
}
.skills-1 .skill-chart {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin-bottom: 50px;
	text-align: center;
}
.skills-1 .skill-chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.skills-1 .skill-percent {
	display: inline-block;
	line-height: 140px;
	font-size:26px;
	font-weight:300;
	color:#fff;
	z-index: 2;
}
.skills-1 .skill-percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: 24px;
}
.skills-1 .skill-name {
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 5px 0;
	text-transform: uppercase;
}
.skills-2{
	margin-top: 40px;
	margin-bottom: 40px;
}
.skills-2 .progress {
	height: 37px;
	margin-bottom: 5px;
	background-color: #f5f5f5;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.skills-2 .progress-bar {
	font-weight: 700;
	line-height: 37px;
	text-align: left;
	padding-left: 20px;
	font-weight: 700;
	font-size: 14px;
}
.panel-title {
	font-size: 14px;
	font-weight: 700;
	color: inherit !important;
	text-transform: uppercase;
}
.panel-title > a, .panel-title > a:hover, .panel-title > a:focus {
	color: inherit !important;
}
.panel-group .panel {
	position: relative;
}
.panel-group .panel .panel-title .accordion-toggle:before, .panel-group .panel .panel-title .accordion-toggle.collapsed:before {
	font-family: FontAwesome;
	content: "\f068";
	font-size: 14px;
	margin-right: 10px;
}
.panel-group .panel .panel-title .accordion-toggle.collapsed:before {
	content: "\f067";
}
.tab-content>.tab-pane {
	padding: 15px;
}
.owl-theme .owl-controls .owl-buttons div{
	opacity: 1;
}
.contents-title {
	font-size: 18px;
	color: #4b4b4b !important;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0px 0 20px 0px;
	line-height: 20px;
}
.portfolio-single{
	margin-top: 40px 0px;
}
.project-details { font-size: 13px; }
.project-details th { vertical-align: top; text-align: left; padding: 0 0 10px 0; text-transform: uppercase; }
.project-details td { vertical-align: top; padding: 0 0 10px 20px; }
.project-details tr { padding: 0 0 10px 0; }


/** Responsive CSS **/
@media (max-width: 480px){
	.tp-banner .tp-caption span.price-tag{
		padding-top: 9px !important;
		width: 50px !important;
		height: 50px !important;
		font-size: 14px !important;
		line-height: 14px !important;
		border-width: 3px !important;
	}
	
	.tp-banner .tp-caption a.btn{
		padding: 4px 6px;
		font-size: 10px;
	}
	
	.main-content{ max-width: 350px; margin: 0 auto; }
}
@media (max-width: 767px){	
	.header .logo { 
		max-width: 260px;
		/*margin: 0 auto;*/
		margin-top: 10px;
	}
	
	.header .logo h1 { font-size: 35px; }
	.header .logo p { font-size: 13px; }
	.header .navbar-default .navbar-nav { margin-top: 8px; }
	.header .navbar-default .navbar-nav>li>a{
		padding-left: 23px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 18px;
		text-align: left;
	}
	
	.header .navbar-default .navbar-nav>li>a img { display: none; }
	.header .navbar-default .navbar-nav .open .dropdown-menu>li>a {
		margin-left: 20px;
		padding-left: 8px;
	}	
	
	.header .navbar-default  .navbar-nav > .dropdown .dropdown-menu{
		margin-top: 0px; 
		border-top: 0px !important;	
	}	
	
	.header .navbar-default  .navbar-nav > .dropdown .dropdown-menu:after,
	.header .navbar-default  .navbar-nav > .dropdown .dropdown-menu:before { border: 0px; }
	.header .navbar-default .navbar-nav>li>a:hover,
	.header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover { background: #f5f5f5; }
	
	.header .header-contact span { 
		display: block;
		margin-top: 5px;
		margin-bottom: 15px;
		text-align: center; 
	}
	
	
	.tp-banner .tp-caption span.price-tag{
		width: 70px;
		height: 70px;
		font-size: 20px;
		line-height: 21px;
	}
	.menu .menu-container{ max-width: 400px; margin: 0 auto; }
	.inner-page .blog-grid { margin-bottom: 0px; }
	.inner-page .contactus { max-width: 400px; margin: 0 auto; }
	.inner-page .blog { margin-bottom: 0;}
	.inner-page .blog .blog-post,
	.inner-page .blog .blog-sidebar { max-width: 400px; margin: 0 auto; }
	.inner-page .navigation {
		max-width: 400px;
		margin: 0 auto; 
	}
	.inner-page .navigation { margin-top: 20px; }
	.footer .footer-widget{
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
}

@media (max-width: 991px){
	.header .navbar-default .navbar-nav > li ul.dropdown-md { width: 450px;}
	.testimonial .flexslider-testimonial{
		max-width: 600px;
		margin: 0 auto;
		margin-top: 30px;
	}
	.testimonial .flexslider-testimonial { margin-bottom: 50px; }
	.inner-page .blog .sidebar-widget{ margin-top: 30px; margin-bottom: 0; }
}

@media (max-width: 1200px){
}

.tp-banner-container {
	background-size: 252px 230px;
}
.totop a i {
	background: #000;
}
