#style-switcher {
	position:fixed;
	z-index:1000;
	top:150px;
	right:-222px;
	width:222px;
	background:#fff;
	padding:10px;
	border:1px solid #ddd;
}

#toggle-switcher {
	display:block;
	width:50px;
	height:50px;
	background:#fff;
	position:absolute;
	left:-50px;
	top:-1px;
	text-align:center;
	cursor:pointer;
	border:1px solid #ddd;
	border-top-left-radius:25px;
	border-bottom-left-radius:25px;
	border-right:none;
}

#toggle-switcher [class*=fa]{
	font-size:32px;
	line-height:50px;
	color:#384047;
}

#style-switcher h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align:center;
	color:#384047;
	margin:0 0 5px -10px;
}

#style-switcher ul {
	list-style:none;
	margin:0;
	padding:0;
}

#style-switcher ul li{
	display:block;
	width:40px;
	height:20px;
	margin:10px 10px 0 0;
	float:left;
	border-radius:5px;
	cursor:pointer;
}
#style-switcher ul li#color-1{
	background:#609cec;
}
#style-switcher ul li#color-2{
	background:#ff6f69;
}
#style-switcher ul li#color-3{
	background:#5cc9df;
}
#style-switcher ul li#color-4{
	background:#36d9c3;
}
#style-switcher ul li#color-5{
	background:#f1678d;
}
#style-switcher ul li#color-6{
	background:#f78f39;
}
#style-switcher ul li#color-7{
	background:#a2ce7e;
}
#style-switcher ul li#color-8{
	background:#9661A8;
}
